a(href="/") Home

if path === '/'
  ul
    li
      b
        a(href="/blog") All posts
    li
      a(href="/blog/I like to run") I like to run.
    li
      a(href="/blog/Crossfit is cool") Crossfit is cool.
    li
      a(href="/blog/Swimming is great") Swimming is great.
